<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styleManager.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script type="text/javascript" src="/static/javascript.js"></script>
    <title></title>
  </head>
  <body>
    <nav>
        <ul>
          <li>
            <div>
              <label class="switch">
                <input type="checkbox" onclick="darkmode()" autocomplete="off">
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/generator">Pass-Gen</a>
          </li>
        </ul>
      </nav>

    <div id="root" class="center">
      <h1>Credentials</h1>
    </div>


    <p class="center">------------------------------------------------------------------------------------------</p>
    <p class="center">{{ contentd }}</p>
    <p class="center">------------------------------------------------------------------------------------------</p>


  </body>
</html>
