<!DOCTYPE html>
<html lang="en" onkeydown="toggleSwitch(event)">
  <head>

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/styleindex.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script type="text/javascript" src="./static/button.js"></script>
    <title>LockPASS</title>

  </head>
  <body>
    <div id="root" class="center">
      <h1>LockPASS</h1>
    </div>


    <div class="center">
      <label class="switch">
        <input type="checkbox" id="checkb" onclick="darkmode()" autocomplete="off">
        <span class="slider"></span>
      </label>
    </div>

    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <p />
        <li>
          <a href="generator">Password Generator</a>
        </li>
        <p />
        <li>
          <a href="manager">Password Manager</a>
        </li>
      </ul>
    </nav>

    <h2 class="center">BETA</h2>

    <canvas id="canvas"></canvas>
    <script type="text/javascript" src="./static/canvas.js" charset="utf-8"></script>

  </body>
</html>
