<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/stylehtml.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script type="text/javascript" src="/static/javascript.js"></script>
    <title>LockPASS</title>
  </head>
  <body>
    <div id="root" class="thm">
      <h1>LockPASS</h1>
    </div>


    <div class="thm">
      <label class="switch">
        <input type="checkbox" onclick="darkmode()" autocomplete="off">
        <span class="slider"></span>
      </label>
    </div>

    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="generator">Password Generator</a>
        </li>
        <li>
          <a href="manager">Password Manager</a>
        </li>
      </ul>
    </nav>

    <p class="thm">BETA</p>
    <p class="thm">if you want join you can add me on discord</p>
    <p class="thm">Kiwi501987#4861</p>

    <div class="thm">
      <img src="http://www.hackthebox.eu/badge/image/278324" alt="Hack The Box">
    </div>
      <!-- <script src="https://www.hackthebox.eu/badge/278324"></script> -->
      <!-- <script src="https://tryhackme.com/badge/31780"></script> -->
    <div class="thm">
      <img src="https://tryhackme-badges.s3.amazonaws.com/Kiwi50.png" alt="TryHackMe">
    </div>

  </body>
</html>
