<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styleManager.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script type="text/javascript" src="/static/javascript.js"></script>
    <title>CTF WEBSITE</title>
  </head>
  <body>
    <nav>
        <ul>
          <li>
            <div class="thm">
              <label class="switch">
                <input type="checkbox" onclick="darkmode()" autocomplete="off">
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/generator">Pass-Gen</a>
          </li>
        </ul>
      </nav>

    <div id="root" class="thm">
      <h2>Credentials</h2>
    </div>

    <p>{{ content }}</p>

  </body>
</html>
