<!DOCTYPE html>
<html lang="en" onkeydown="toggleSwitch(event)">
  <head>

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/stylePasswd.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script type="text/javascript" src="/static/button.js"></script>
    <title>LockPASS</title>

  </head>
  <body>
    
    <nav>
        <ul>
          <li>
            <div>
              <label class="switch">
                <input type="checkbox" id="checkb" onclick="darkmode()" autocomplete="off">
                <span class="slider"></span>
              </label>
            </div>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/manager">Pass-Manager</a>
          </li>
        </ul>
      </nav>

    <div id="root" class="center">
      <h1>Password</h1>
    </div>

    <div class="passwd"> {{ password }} </div>

    <p class="center">Choose File Name:</p>
    <div class="center">
      <form action="/save" method="POST">
        <input name="soubor" class="soubor">
        <button class="button" type="submit" name="save-btn">Save</button>
      </form>
    </div>

    <p class="center">{{ save }}</p>

    <canvas id="canvas"></canvas>
    <script type="text/javascript" src="./static/canvas.js" charset="utf-8"></script>

  </body>
</html>
